<!DOCTYPE html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    
<div class="flexbox">
    {{>header}}
   <ul>
	   <li>This Web app is a simple and easy to use weather application!</li>
	   <li>You can get your current Forecast information by just entering any location!</li>
	   <li>This Web App is created using openweathermap and mapbox api's!</li>
	   <li>Visit the main <a href="/" style="font-size: 125%;">Home</a> page! and play with it!😊</li>
	   <li>For information about how to use this application vist <a href="/help" style="font-size: 125%;">HELP</a> page!</li>
	   <li>Please provide your valuable fedback!</li>
	   </ul>
	   <br>
	<details>
       
		<summary>Page disclaimer!</summary>
		This Web page was originally written and created by <bold style="font-size: 150%;">Anish Goyal!</bold><br>
	</details>

</div>
{{>footer}}
</body>
</html>