<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="flexbox">
<h1>
        {{>header}}
        
    </h1>
    <h1>{{title}}</h1>
        
    </div>
    {{>footer}}
    
    
</body>
