<!DOCTYPE html>

<head>
    <title>Help page</title>
    <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/help.js"></script>
</head>
<body>
    <div class="flexbox">
      {{>header}}
    
    <h2>{{helpText}}</h2>
    <ul>
       <li style="font-style: oblique;">Use this site to get your weather info!</li>
       <li style="font-style: oblique;">Enter any desired location in the search box!</li>
       <li style="font-style: oblique;">You will get your location whith the current weather around you.</li>
       <li style="font-style: oblique;">For any other queries feel free to contact!</li>
    </ul>
    
    </div>
    {{>footer}}
  
</body>
</html>