<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class = "footer" >

    <h3 style="text-align: right;">©2021 Anish Goyal
       <br>  <a href="mailto:anishgoyal750@gmail.com?subject=Reach%20out" class="fa fa-google"></a>
       <a href="https://www.facebook.com/anish.goyal.5832" class="fa fa-facebook" target="_blank" ></a>
       <a href="https://github.com/Anish-Goyal" target="_blank" class="fa fa-github"></a>
       <a href="https://www.linkedin.com/in/anish-goyal-0aa7721a5/" class="fa fa-linkedin" target="_blank" ></a>

    </h3>
    
</div>